@mixin flex-center($justify: space-between) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

@mixin botao-base($bg, $color) {
  background-color: $bg;
  color: $color;
  padding: 12px 28px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}
